.row{
    width: 50%;
    height: 60%;
    background: darkblue;
    border: 5px solid lightskyblue;
    color: white;
}
.col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 30px;
    border: 2px solid lightskyblue;

}

